.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: darkviolet;
}
.avalue {
    -fx-fill: black;
}

.comment {
	-fx-fill: teal;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.paragraph-inserted {
    -fx-background-color: lightpink;
}

.paragraph-changed {
    -fx-background-color: springgreen;
}

.paragraph-deleted {
    -fx-background-color: lightslategrey;
}